<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>AddressBook Interactive Form!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script th:src="@{/js/addressbookInteract.js}"></script>
</head>
<body>
<h1>Create a AddressBook!</h1>
<form action="#" th:action="@{/addressBook}" th:object="${addressbook}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p><input type="submit" id="create" value="create" /> <input type="reset" value="Reset" /></p>
</form>

<div>
    <p class ="addressbook-name">Your addressbook </p>
    <p class ="addressbook-content">Here are your buddy infos</p>
</div>
</body>
</html>